@import 'variables';

.section {
  margin-bottom: 5px;

  label {
    font-size: 1.2em;
    margin-bottom: 2px;
  }

  hr {
    margin-top: 3px;
    height: 1px;
    color: $primary-color;
    border-color: $primary-color;
    background-color: $primary-color;
  }
  > small {
    float: right;
    padding-top: 8px;
  }
}

.popover-static.sub-section {
  border: none;

  h3.popover-title {
    background: none;
    border-bottom-color: $secondary-color;
  }
}
form {
  margin: 11px;
}

body {
  overflow-y:scroll;
}


