@import 'variables';

.section {

  label {
    font-size: 1.2em;
    margin-bottom: 2px;
  }

  hr {
    margin-top: 3px;
    height: 2px;
    color: $primary-color;
    border-color: $primary-color;
    background-color: $primary-color;
  }
}

.sub-section {
  border-bottom: 1px dashed $primary-color;
  margin-bottom: 1.1em;

  > label {
    margin-bottom: 2px;
  }
}


