@import 'variables';

.section {
  margin-bottom: 5px;

  label {
    font-size: 1.2em;
    margin-bottom: 2px;
  }

  hr {
    margin-top: 3px;
    height: 1px;
    color: $primary-color;
    border-color: $primary-color;
    background-color: $primary-color;
  }
  > small {
    float: right;
    padding-top: 8px;
  }
}

.sub-section {
  > h3 {
    padding-top: 0px;
  }
}

.popover-static.sub-section {
  border: none;

  h3.popover-title {
    background: none;
    border-bottom-color: $secondary-color;
  }
}

.filter-container {
  position: relative;

  form {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .form-inline input.form-control {
    width: 280px;
  }
}

.about {
  strong {
    font-family: monospace;
    font-size: 1.2em;
  }
}

form {
  margin: 11px;
}

body {
  overflow-y:scroll;
}


