@import 'variables';

span.skill {
  margin: 2px;
  margin-bottom: 4px;
  cursor: pointer;
  display: inline-block;
}

.badge {
  background-color: $highlight-color;
  color: $primary-color;
  border: 1px solid $primary-color;

  &.highlight {
    background-color: $primary-color;
    color: $highlight-font-color;
    border: 1px solid $highlight-color;
  }
}

.fa {
  color: $primary-color;

  &.fa-smile-o {
    margin-right: 2px;
  }
}
