/*
$primary-color: #636c72;
//$secondary-color: #ebebeb;
$secondary-color: #ffcd6e;
$highlight-color: #f0ad4e;
*/
$primary-color: #1B4F72;
//$secondary-color: #ebebeb;
$secondary-color: #5DADE2;
$highlight-color: #EBF5FB;
$highlight-font-color: white;
