@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
    size: auto;   /* auto is the initial value */
    margin: 2pt;  /* this affects the margin in the printer settings */
}

html {
    scroll-padding-top: 4rem;
}

@media print {
    html {
        scroll-padding-top: 1pt;
        
    }
}